// Responsive breakpoint variables
// Use these in media queries with SCSS variables (not CSS custom properties)
$screen-sm: 767px;
$screen-md: 768px;
$screen-lg: 1024px;

// Mixins for common media query patterns
@mixin mobile {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $screen-lg) and (min-width: $screen-md) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $screen-lg) {
    @content;
  }
}
